<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>


        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <% if (currentUser) { %> 
                        <h1>Hello, <%= currentUser.firstName %> </h1>
                    <% } else { %> 
                        <h1>Hello User</h1>
                    <% } %> 
                </div>
            </div>
        </div>

        <div class="container" id="homePageImageContainer">
            <% if (gridDisplay) {%> 
                <div class="row homePageImageRow">
                    <div class="col homeRowImageCol"><img src="<%= gridDisplay.rowOneImageOne %> " alt=""></div>
                    <div class="col homeRowImageCol"><img src="<%= gridDisplay.rowOneImageTwo %>" alt=""></div>
                    <div class="col homeRowImageCol"><img src="<%= gridDisplay.rowOneImageThree %>" alt=""></div>
                </div>
                <div class="row homePageImageRow">
                    <div class="col homeRowImageCol"><img src="<%= gridDisplay.rowTwoImageOne %> " alt=""></div>
                    <div class="col homeRowImageCol"><img src="<%= gridDisplay.rowTwoImageTwo %> " alt=""></div>
                    <div class="col homeRowImageCol"><img src="<%= gridDisplay.rowTwoImageThree %> " alt="">
                    </div>
                </div>
            <% } else {%> 
                <div class="row homePageImageRow" >
                    <div class="col homeRowImageCol"><img src="" alt=""></div>
                    <div class="col homeRowImageCol"><img src="" alt=""></div>
                    <div class="col homeRowImageCol"><img src="" alt=""></div>
                </div>
                <div class="row homePageImageRow">
                    <div class="col homeRowImageCol"><img src="" alt=""></div>
                    <div class="col homeRowImageCol"><img src="" alt=""></div>
                    <div class="col homeRowImageCol"><img src="" alt=""></div>
                </div>
            </div>
            <% } %> 

        <%- include('../partials/footer') %>
    </body>
</html>
